{% extends 'register/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="postcontent nobottommargin">
    <h3>Rejestracja</h3>
    <div class="contact-widget">
        <div class="contact-form-result"></div>
        <form method="post" class="form login-form">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}

            {% buttons %}
            <button type="submit" class="btn btn-red btn-block">Zapisz się</button>
            {% endbuttons %}
        </form>

    </div>
</div>

{% endblock %}
