{% extends 'register/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
         <div class="card red-card big-card">
            <div class="card-body">
                <h3 class="card-title">Rejestracja</h3>

                <form method="post" class="form login-form">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False %}
                    {% buttons %}
                    <button type="submit" class="btn btn-red btn-block">Utwórz konto</button>
                    {% endbuttons %}
                </form>

            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
